<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="My Personal Website" />
<meta name="author" content="Hosein Tajali" />

<title>{% block title %}Kasra's Website{% endblock %}</title>

{% block styles %}
  {{ bootstrap.load_css() }}
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" />
  <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Buda:wght@300&family=Knewave&family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">

  <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
  {% block extra_styles %}{% endblock %}
{% endblock %}
